.layout {
  margin: auto;
  width: var(--base-width);
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.heading {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: rgba(0, 0, 0, 0.7);
}
