.navWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.nav {
  width: var(--base-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-open-sans);
  font-weight: normal;
  flex-flow: row;
}
.websiteTitle {
  margin: 0;
  padding: 0;
  color: var(--website-title-color);
  font-family: var(--website-title-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: var(--website-title-font-size);
  background-color: hsla(236, 11%, 26%, 10%);
  padding: 10px;
  border-radius: 10px;
  font-weight: bolder;
}
.navList {
  margin: 0;
  padding-left: var(--links-menu-padding-sides);
  padding-right: var(--links-menu-padding-sides);
  display: flex;
  align-items: center;
  gap: calc(var(--links-menu-items-gap) - var(--links-menu-item-padding) * 2);
  list-style: none;
}

