.navWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--nav-wrapper-height);
}
.nav {
  width: var(--base-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-open-sans);
  font-weight: normal;
  flex-flow: row;
  position: relative;
}
.websiteTitle {
  margin: 0;
  padding: 0;
  color: var(--website-title-color);
  font-family: var(--website-title-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: var(--website-title-font-size);
  background-color: var(--website-title-bg);
  padding: 10px;
  border-radius: 10px;
  font-weight: bolder;
}
.navList {
  margin: 0;
  padding-left: var(--links-menu-padding-sides);
  padding-right: var(--links-menu-padding-sides);
  display: flex;
  align-items: center;
  gap: calc(var(--links-menu-items-gap) - var(--links-menu-item-padding) * 2);
  list-style: none;
}
.toggleSidebarButton {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.sidebar {
  padding-top: 100px;
  list-style: none;
  position: fixed;
  width: 50%;
  right: 0;
  top: 0;
  bottom: 50%;
  background-color: aliceblue;
  z-index: 1;
  border-radius: 10px;
}
@media screen and (width <= 500px) {
  .navList {
    display: none;
  }
  .searchBarWrapper {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .nav {
    width: 100%;
  }
}
@media screen and (width > 500px) {
  .sidebar {
    display: none;
    justify-content: space-between;
  }
  .toggleSidebarButton {
    display: none;
  }
}
