.card {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 16px;
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05); /* Soft shadow */
  border: 1px solid rgba(200, 200, 200, 0.6); /* Light gray border */
  box-sizing: border-box;
  padding: 20px; /* Ample padding */
  font-family: var(--font-open-sans);
  background: rgba(255, 255, 255, 0.4); /* Light gray background */
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease; /* Transition effects */
}

.card:hover {
  transform: translateY(-5px) scale(1.02); /* Lift effect on hover */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
  background: rgba(240, 240, 240, 0.6); /* Darker gray on hover */
}

.coverImage {
  width: 100%;
  border-radius: 6px;
}
.title {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: #181a2a;
}
.descriptionLayout {
  height: 150px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  gap: 20px;
  box-sizing: border-box;
  padding: 6px;
}
.publicationDescription {
  display: flex;
  align-items: center;
  gap: 20px;
}
.authorInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.authorName {
  margin: 0;
  font-size: 1.05rem;
  font-weight: 600;
  font-style: normal;
  color: var(--author-name-color);
  color: #97989f;
}

.authorPic {
  width: var(--author-pic-size);
  height: var(--author-pic-size);
  border-radius: 100%;
}

.publicationDate {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  color: #97989f;
}
.readMore {
  margin-top: auto;
  justify-self: flex-end;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
  width: max-content;
  color: #97989f;
  font-weight: bold;
  transition: 0.3s;
}
.readMore:hover {
  color: goldenrod;
}
