.footer {
  background-color: #F6F6F7;
  display: flex;
  flex-flow: column;
  margin-top: var(--footer-margin-top);
}
.mainContent {
  align-self: center;
  width: var(--base-width);
  display: grid;
  grid-template-columns: 270px 5fr 4fr;
  margin-top: var(--footer-main-content-margin-top-down);
  margin-bottom: var(--footer-main-content-margin-top-down);
}
.aboutTitle {
  font-size: var(--footer-about-title-font-size);
  font-weight: 600;
  margin-bottom: var(--footer-about-title-margin-bottom);
}
.aboutDescription {
  margin-bottom: var(--footer-about-description-margin-bottom);
}
.footerNav {
  display: flex;
  justify-content: center;
  gap: var(--footer-nav-gap);
}
.copyrightWrapper {
  border-top: solid 1px rgba(0,0,0,0.1);
  align-self: center;
  width: var(--base-width);
  height: var(--footer-copyright-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.websiteTitle {
  margin-bottom: 6px;
}
.copyrightList {
  display: flex;
  list-style: none;
  gap: 10px;
}